$color-primary-600: #5600e8;
$color-primary-500: #6200ee;
$color-primary-400: #7f39fb;
$color-primary-200: #bb86fc;
$color-primary-100: #7f39fb;
$color-primary-50: #f2e7fe;

$color-red: #d90027;
$color-black: #000000;
$color-white: #ffffff;

$color-secondary-400: #00b3a6;

$color-high-emphasis: rgba(0, 0, 0, 0.87);
$color-medium-emphasis: rgba(0, 0, 0, 0.6);
